* {
	padding:0px;
	margin:0px;
}


body {
background: #f0f2f5
}

header {
	background: #4867aa;
	height:82px;
	border-bottom: 1px solid #133783 : 

}

.header-block {
	width: 992px;
	margin: 0 auto;
padding-top:20px;
}

.logo {
	width: 50%;
float:left;
}
.facebook-login {
	width: 50%;
float:left;
}

.logo img {
	padding-top: 10px;
	padding-bottom: 20px;
}

.header-block label {
	color: #fff;
}

.email {
	float: left;
}
.email labe {
	padding-bottom: 10px;
}
.email input[type="text"]{
  height:20px;
 width: 150px;
 border: 1px solid #1d2a5b;
}

.password {
	float: left;
	margin-left: 14px;
}

.password labe {
	padding-bottom: 10px;
} 

.password input[type="password"]{
 height:20px;
 width: 150px;
 border: 1px solid #1d2a5b;
}
.password a {
	color: #8fb1d8;
}




.login-button{
	float: left;
	margin-top: 20px;
margin-left: 20px
}


.login-button input[type="submit"]{
	background: #4867aa
	border:1px solid #29487d;
	border-radius: 1px;
	color:#fff;
	height: 20px;
	width:50px;

}
